@font-face {
  font-family: 'Google Symbols';
  font-style: normal;
  font-weight: 400;
  src: url(./lib/Google/symbols.woff2) format('woff2');
}

.google-symbol {
  font-family: 'Google Symbols';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html {
  background-color: #324C8D;
  font-family: "Roboto", sans-serif;
}

#root {
  padding-top: 100px;
}

